@model projCarWashV2.Transaction_Data

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction_Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_Transaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Transaction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_Of_Vehicles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_Of_Vehicles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Data.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Data.Customer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price.Name_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price.Name_Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
